<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/client/category"></ion-back-button></ion-buttons>
    <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    animated
    placeholder="Filter Service"
    (ionChange)="onChangeSearch($event)">
  </ion-searchbar>
  <ion-card *ngFor="let service of services" (click)="onclickService(service)">
    <ion-card-content>
      {{service.serviceName}}
    </ion-card-content>
  </ion-card>
</ion-content>
