<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/client/chat"></ion-back-button></ion-buttons>
    <ion-title>Conversation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-card *ngIf="loading">
    <ion-card-content>
      Loading ...
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="!loading">
    <ion-card *ngIf="chat.conversation.length == 0" class="animated slideInDown duration-1s">
        <ion-card-content>
          No chat history found. Lets start messaging
        </ion-card-content>
    </ion-card>
    <ion-item *ngFor="let conversation of chat.conversation" class="ion-no-margin chat" lines="none">
      <ion-thumbnail *ngIf="conversation.senderType === 'contractor'">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-card slot="{{conversation.senderType === 'consumer' ? 'end' : ''}}">
        <ion-card-content>
          <h2>{{conversation.message}}</h2>
        </ion-card-content>
      </ion-card>
      <ion-thumbnail *ngIf="conversation.senderType === 'consumer'" slot="{{conversation.senderType === 'consumer' ? 'end' : ''}}">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-textarea rows="2" name="writtenMessage" [(ngModel)]="writtenMessage" placeholder="Write your message here"></ion-textarea>
    <ion-button class="send" (click)="onClickSend()" [disabled]="writtenMessage.length == 0">Send</ion-button>
  </ion-toolbar>
</ion-footer>